USE [master]
GO
/****** Object:  Table [dbo].[BILLS]    Script Date: 14/03/2023 16:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLS](
	[ID] [varchar](32) NOT NULL,
	[SALE_ID] [varchar](32) NULL,
	[PORTION] [char](10) NULL,
	[DATE_DUE] [date] NULL,
	[NET_TOTAL] [decimal](18, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 14/03/2023 16:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES](
	[ID] [varchar](32) NOT NULL,
	[CODE] [int] NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[NET_TOTAL] [decimal](18, 6) NULL,
	[FORM_PAYMENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_BILLS_1] FOREIGN KEY([SALE_ID])
REFERENCES [dbo].[SALES] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_BILLS_1]
GO
