*.FDB
*.dcu
*__history
*.exe
*.identcache
*.tvsconfig
*.dll
*.dproj.local
*.identcache
*.res
bin/boleto/
bin/iphist.dat
installer/source/files/
*.dres
bin/xmls/
bin/efd/
bin/email/
bin/schemas/
pdv/bin/xmls/
pdv/bin/schemas/
bin/*.png